/* body {
    font-family: Arial, sans-serif;
    text-align: center;
}
table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}
caption {
    font-style: italic;
    margin-top: 10px;
}
thead {
    background-color: black;
    color: white;
}
thead th {
    padding: 10px;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
    background-color: white;
}
td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
} */

body {
    padding: 5%;
  }
  
  table {
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
  
    caption {
      caption-side: bottom;
      font-size: smaller;
      padding: 0.2rem;
    }
  
    th,
    td {
      padding: 0.5em 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      white-space: pre;
    }
  
    thead th,
    tbody td {
      text-align: center;
    }
  
    thead {
      color: #fff;
      background: #000;
  
      th {
        padding: 1rem;
        font-size: larger;
      }
  
      tr:nth-last-child(1) {
        background-color: #333;
      }
    }
  
    tbody tr:nth-child(even) {
      background-color: #eee;
    }
  }
  
  .blank {
    background-color: #000;
  }
  