:root {
    --primary-color: #c8102e;
    --text-color: white;
}

@media screen and (min-width: 901px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Roboto;
        text-align: center;
    }

    ul li {
        list-style: none;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('images/causeway.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(50%);
        z-index: -1;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        color: var(--text-color);
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(20rem, 10rem));
        background-image: url('images/causeway.webp');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100vh;
    }

    .welcomeimage img {
        display: none;
    }

    .countrydata {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.84);
        left: 2rem;
        top: 3rem;
        width: 15rem;
        padding: 2rem;
        position: relative;
    }

    /* ::after pseudo-element */
    .countrydata::after {
        content: "";
        display: block;
        width: 80%;
        height: 4px;
        background-color: var(--primary-color);
        margin-top: 10px;
    }

    .weatherdata {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.84);
        bottom: -2rem;
        right: 1rem;
        width: 15rem;
        padding: 2rem;
    }

    /* ::after pseudo-element */
    .weatherdata::after {
        content: "";
        display: block;
        width: 80%;
        height: 4px;
        background-color: var(--primary-color);
        margin-top: 10px;
    }

    .weatherdata img {
        width: 10rem;
    }

    footer {
        padding: 1rem;
        background-color: var(--primary-color);
        color: var(--text-color);
    }
}